*{
    margin: 0;
    padding: 0;
}

header{
    width: 1707px;
    height: 50px;
    background-color:aquamarine;
}

nav {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

ul{
    /* border: 1px solid black; */
    flex: 1;    
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;  
}

nav ul li{
    /* display: inline; */
    list-style: none;
}

nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: magenta;
}

